<!-- Bottom Navbar -->
<div id="bottom-navbar">
    <i class="fa fa-discord discord fa-2x button-social" onclick="window.open('https://discordapp.com/invite/T86D3u6')"></i>
    <i class="fa fa-reddit reddit fa-2x button-social" onclick="window.open('https://www.reddit.com/r/seaofgreed/')"></i>
    <i class="fa fa-twitter twitter fa-2x button-social" onclick="window.open('https://twitter.com/WallyGladstone')"></i>
    <i class="fa fa-instagram instagram fa-2x button-social" onclick="window.open('https://www.instagram.com/seaofgreedgame/')"></i>
    <i class="fa fa-youtube youtube fa-2x button-social" onclick="window.open('https://www.youtube.com/channel/UC7DwBv65kiEjSNNA8wLC7_Q')"></i>
    <i class="fa fa-soundcloud soundcloud fa-2x button-social" onclick="window.open('https://soundcloud.com/seaofgreeddevs')"></i>
    <i class="fa fa-facebook facebook fa-2x button-social" onclick="window.open('https://www.facebook.com/seaofgreedgame/')"></i>
    <i class="fa fa-twitch twitch fa-2x button-social" onclick="window.open('https://www.twitch.tv/gladstonegames')"></i>
</div>
