---
layout: default
---

<br><br><br>

<div class="row">
    <div class="centercolumn-blog">
        <div class="card-blog image-border">
            <h4 style="float: right; margin: 0">
                {% if page.layout == "podcast" %}
                PODCAST
                {% else %}
                BLOG
                {% endif %}
            </h4>
            <h2>{{ page.title }}</h2>

            <h5>
                {% if page.layout != "podcast" %}
                    {{ page.author }} -
                {% endif %}
                {{ page.date | slice: 0, 10 }}
            </h5>

            <hr><br>

            <audio controls>
                <source src="{{ page.file }}" type="audio/mp3">
                Your browser does not support the <code>audio</code> element.
        	</audio>

            <br>

            {{ content }}

            Subscribe to the <a href="{{ site.baseurl }}/podcast.xml">RSS Feed</a>
        </div>
    </div>
</div>
